::placeholder { /* Firefox, Chrome, Opera */ 
    color: blue; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: red; 
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: orange; 
} 

.form-inline{
    border: 2px solid black;
    
}
.form-control{
    background-color: #0b1d3e;
    position: relative;
}