.overlay {
  overflow: auto;
  color: white;
  position: fixed;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  -webkit-animation: fadein 0.3s ease-in;
          animation: fadein 0.3s ease-in;
}

.overlay .movie-info {
  padding: 10px 15px;
}

.overlay .movie-info span {
  position: relative;
  bottom: 8px;
  margin-right: 20px;
}

.movie-overlay {
  background-color: #000d21;
  position: relative;
  top: 13vh;
  margin: auto;
  width: 840px;
  border: 1px solid #000d21;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.movie-overlay .overlay-cover {
  height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.movie-overlay .overlay-cover .overlay-close-btn {
  position: absolute;
  right: 6px;
  top: 2px;
  cursor: pointer;
  font-size: large;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.movie-overlay .overlay-cover .overlay-close-btn:hover {
  color: lightgray;
  opacity: 0.7;
}

.movie-overlay .overlay-cover .movie-tagline {
  color: #fdfdfd;
  font-size: 1.7rem;
  font-weight: 700;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: auto;
  width: 50%;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
}

:-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
}

::-ms-input-placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: white;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.form-inline {
  border: 2px solid black;
}

.form-control {
  background-color: #0b1d3e;
  position: relative;
}

.image-item {
  display: inline-block;
  width: 245px;
  height: 365px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: cover;
  margin: 15px 7px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-animation: fadeinup 0.7s ease-in;
          animation: fadeinup 0.7s ease-in;
}

.rating {
  font-family: 'poppins', sans-serif;
  text-align: left;
  position: absolute;
  font-size: 12px;
  color: white;
  background-color: #000d21;
  border-radius: 3px;
  padding: 2px 7px 2px 3px;
  left: 8px;
  top: 8px;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

p,
span {
  font-size: 1rem;
  line-height: 1;
}

.main {
  font-family: 'Poppins', sans-serif;
  background-color: #0b1d3e;
  min-height: 100vh;
  text-align: center;
}

.main nav {
  margin-bottom: 1.25rem;
  font-size: 0.8125rem;
}

.main nav .nav-item {
  margin-right: 10px;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 1322px) {
  .image-item:hover {
    opacity: 0.7;
    z-index: 2;
    width: 20%;
  }
}

@media only screen and (max-width: 1000px) {
  .movie-overlay {
    top: 0;
    min-height: 120vh;
    max-width: 100%;
  }
  .movie-tagline {
    font-size: 1.2rem;
  }
  .form-control {
    position: relative;
    width: 100%;
  }
  .overlay-cover {
    width: 100%;
    background-size: contain;
    background-position: center center;
  }
  .btn {
    position: absolute;
    right: 20px;
  }
}

@-webkit-keyframes fadeinup {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeinup {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
